body {
    font-family: Arial, Helvetica, sans-serif;
}

my-joukkue {

}

h3, h4, h5 {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

my-joukkue > input {
    font-size: x-small;

}
.sarja {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #eee;
}

.sarja-container {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px;
}

.lohko {
    background-color: #354;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
   
    margin-bottom: 20px;
    margin-top: 20px;  
    margin-left: 40px;

    border: 2px dashed lightblue; 
}

.sarja-joukkueet {
    background-color: #ffd;
    padding: 10px 10px 10px 0px;

    margin-bottom: 20px;
    margin-top: 20px;  

    border: 2px dashed lightblue; 
}

.joukkueet {
    background-color: #ddf;
    padding: 10px 10px 10px 0px;

    margin-bottom: 20px;
    margin-top: 20px;  

    border: 2px dashed lightblue; 
}

.ottelut {
    background-color: #dfd;
    padding: 10px;

    margin-bottom: 20px;
    margin-top: 20px;  

    border: 2px dashed lightblue; 
}

.tulostaulu {
    background-color: #fdf;
    padding: 10px;

    margin-bottom: 20px;
    margin-top: 20px;  

    border: 2px dashed lightblue; 
}

.button {
    margin-top: 3px;
    padding: 6px 12px 6px 12px;
    border: 1px solid darkgray;

    font-weight: bold;

    cursor:pointer;
}

.buttonAdd {
    background-color: palegreen;
    color: darkgreen;
}

.buttonRemove {
    background-color: indianred;
    color: darkred;
}

.toolbar {
    margin-top: 18px;
    margin-bottom: 15px;
}

.changed {
    margin-left: 3px;
    padding: 3px;
    border: 1px solid #ca4;
    border-radius: 3px;
    background-color: yellow;
    color: #210;
    vertical-align: middle;

    font-size: xx-small;
}

.ottelu-editor-solu {
    padding: 3px 2px;
}




/* NAVIGAATTORI */
.navigaattori {
    position: fixed;
    top: -14px;
    right: 0px;
    padding: 0px;
    
    background-color: darkgray;
    display: inline;
}

.navigaattori > li{
    display: inline;
    padding: 6px;
}

.navigaattori a:link, a:visited {
    color: white;
    text-decoration: none;
        padding: 6px;
}
.navigaattori a:hover {
    color: yellow;
    background-color: blue;
       padding: 6px;
}
