body {
    font-family: Arial, Helvetica, sans-serif;
}

my-joukkue {

}

my-joukkue > input {
    font-size: x-small;

}

.lohko {
    background-color: #eef;
    padding-left: 20px;
    padding-top: 15px;
   
}

.joukkueet {
    background-color: #ddd;
    padding: 10px 10px;
}

.ottelut {
    background-color: #ffd;
    padding: 10px;
}

.tulostaulu {
    background-color: #dfd;
    padding: 10px;
}

.button {
    margin-top: 3px;
    padding: 6px 12px 6px 12px;
    border: 1px solid darkgray;

    font-weight: bold;

    cursor:pointer;
}

.buttonAdd {
    background-color: palegreen;
    color: darkgreen;
}

.buttonRemove {
    background-color: indianred;
    color: darkred;
}

.changed {
    margin-left: 3px;
    padding: 3px;
    border: 1px solid #ca4;
    border-radius: 3px;
    background-color: yellow;
    color: #210;
    vertical-align: middle;

    font-size: xx-small;
}

.ottelu-editor-solu {
    padding: 3px 2px;
}




/* NAVIGAATTORI */
.navigaattori {
    position: fixed;
    top: -14px;
    right: 0px;
    padding: 0px;
    
    background-color: darkgray;
    display: inline;
}

.navigaattori > li{
    display: inline;
    padding: 6px;
}

.navigaattori a:link, a:visited {
    color: white;
    text-decoration: none;
        padding: 6px;
}
.navigaattori a:hover {
    color: yellow;
    background-color: blue;
       padding: 6px;
}
