<!-- Lohko editori -->
<div class="lohko">

    <h4> Alku/sijoituslohko: {{lohko.nimi}}</h4>

    <div class="joukkueet">
        <h5>Joukkueet:</h5>

        <div ng-repeat="joukkue in lohko.joukkueet">
            <joukkue-editori joukkue="joukkue"></joukkue-editori>
        </div>

        <div style="margin-top: 14px;">
            <span class="button buttonAdd" ng-click="lohko.addJoukkue()"> Lisää </span> &nbsp;
            <span class="button buttonRemove" ng-click="lohko.popJoukkue()"> Poista </span>
        </div>
    </div>

    <div class="ottelut">
        <h5>Ottelut:</h5>
        <ol style="margin-left: 60px;">
            <li ng-repeat="ottelu in lohko.ottelut">
                <ottelu-editori ottelu="ottelu"></ottelu-editori>
            </li>
        </ol>
    </div>

    <div class="tulostaulu">
        <h5>Tulokset:</h5>
        <pre>{{lohko.tulostaulu}}</pre>
    </div>
</div>