<!-- Lohko editori -->
<div class="lohko">

    <h4> Alku/sijoituslohko: {{lohko.nimi}}</h4>
    <!--<h4 ng-click="lohko.toggle()"> Alku/sijoituslohko: {{lohko.nimi}}</h4>-->

    <div class="jj-toggle">

        <div class="joukkueet">
        <h5>Joukkueet:</h5>
        <div class="jj-toggle">

            <div class="toolbar">
                <span class="button buttonAdd" ng-click="lohko.addJoukkue()"> Lisää </span> &nbsp;
                <span class="button buttonRemove" ng-click="lohko.popJoukkue()"> Poista </span>
            </div>

            <div ng-repeat="joukkue in lohko.joukkueet">
                <joukkue-editori joukkue="joukkue"></joukkue-editori>
            </div>

        </div>
</div>

        <div class="ottelut">
            <h5>Ottelut:</h5>
            <div class="jj-toggle">

                <div class="toolbar">
                    <span class="button buttonAdd" ng-click="lohko.arvoYksiTulos()"> Arvo yksi </span>
                    <span class="button buttonAdd" ng-click="lohko.arvoKaikkiTulokset()"> Arvo kaikki </span>

                    <span class="button buttonRemove" ng-click="lohko.poistaOttelut()" style="margin-left: 199px;"> Poista ottelut </span>
                    <span class="button buttonAdd" ng-click="lohko.luoOttelut()"> Luo ottelut </span>
                </div>

                <table border=1 cellspacing=0>
                    <tr>
                        <th>No</th>
                        <th>Koti</th>
                        <th>-</th>
                        <th>Vieras</th>
                        <th>Tuomari</th>
                        <th>Tulos</th>
                        <th></th>
                        <th>+/-</th>
                    </tr>
                    <tr ng-repeat="ottelu in lohko.ottelut | orderBy:'no'">
                        <td class="ottelu-editor-solu"><input type="number" ng-model="ottelu.no" style="width: 30px;"></td>
                        <td class="ottelu-editor-solu">{{ottelu.koti.lyhenne}}</td>
                        <td class="ottelu-editor-solu">-</td>
                        <td class="ottelu-editor-solu">{{ottelu.vieras.lyhenne}}</td>
                        <td class="ottelu-editor-solu">{{ottelu.tuomari.lyhenne}}</td>
                        <td class="ottelu-editor-solu">
                            <input class="ottelutulos" ng-model="ottelu.tulos" ng-change="ottelu.onChange()">
                            <span class="changed" ng-show="ottelu.onMuuttunut()">
                         Muuttunut
                    </span>
                        </td>
                        <td class="ottelu-editor-solu">{{ottelu.tulos}}</td>
                        <td class="ottelu-editor-solu">{{ottelu.ero}}</td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="tulostaulu">
            <tulostaulu-editori tulostaulu="lohko.tulostaulu"></tulostaulu-editori>
        </div>
    </div>
</div>