<!-- Sarja -->

<div class="sarja-container">

    <a name="{{sarja.lyhenne}}"></a>
    <h3> Sarja: {{sarja.nimi}} ({{sarja.lyhenne}})</h3>

    <div class="jj-toggle sarja" jj-hide-on-start>

        <div class="sarja-joukkueet">
            <div>Sarjan joukkueet:</div>
            <div class="jj-toggle">
                <ol>
                    <li ng-repeat="joukkue in sarja.joukkueet()">
                        <joukkue-view joukkue="joukkue"></joukkue-view>
                    </li>
                </ol>
            </div>
        </div>
        <div class="toolbar">
            <span class="button buttonAdd" ng-click="sarja.addAlkuLohko()">Luo alkulohko</span>
            <span class="button buttonRemove" ng-click="sarja.popAlkuLohko()">Poista alkulohko</span>
            <span class="button buttonAdd" ng-click="sarja.addSijoitusLohko()">Luo sijoituslohko</span>
            <span class="button buttonRemove" ng-click="sarja.popSijoitusLohko()">Poista sijoituslohko</span>
        </div>

        <div ng-repeat="lohko in sarja.alkulohkot">
            <lohko-editori lohko="lohko"></lohko-editori>
            <hr>
        </div>
        <div ng-repeat="lohko in sarja.sijoituslohkot">
            <sijoituslohko-editori lohko="lohko"></sijoituslohko-editori>
            <hr>
        </div>

    </div>
</div>

<hr>